<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Online Store API</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <style>
    body { font-family: 'Open Sans', sans-serif; }
    a { color: #328517; }
  </style>
</head>
<body>

  Usage: <a href="/swagger-ui.html">Swagger</a> / <a href="/postman.json">Postman Collection</a><br><br>

  Products: <a href="/products/">All</a> / <a href="/products/1">Single</a><br><br>
  Users: <a href="/users/">All</a> / <a href="/users/1">Single</a><br><br>
  Purchases: <a href="/purchases/">All</a> / <a href="/purchases/1">Single</a><br><br>

  Other: <a href="/login">Login</a> / <a href="/logout">Logout</a>

</body>
</html>